body {
    background-color: rgb(238, 170, 235);
}
h1, h2, h3, h4, h5, h6 {
    font-family: 標楷體;
}

a[href="https://tw.yahoo.com"] {
    color: red;
}

a[href="https://www.google.com"] {
    color: rgb(0, 255, 42);
}

